@font-face {
    font-family: digital;
    src: url("./DS-Digital.ttf");
}

.clock2-container{
    font-family: digital;
    background-color: yellow;
    color: rgb(74, 228, 23);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-shadow: 0 0 5px black;

    .time{
        font-size: 5rem;
    }
}